*.vtk
*/processor[0-9]*/*
*/[0-9]*.[0-9]*/*
*/[0-9]/*

*/constant/polyMesh/*

*~
*.swp

*.err
*.out
log.*
core.*

*/old_log_files/*

*.zip
*.tar
# find . -size +1G | sed 's|^\./||g' | cat >> .gitignore
